.gitignore
net_battle_server.exe
scripts/bbs/data.json
scripts/advertise_server/data/secret_keys.json
memory/*
memory/players.json.json
memory/players.json_backup.json
scripts/bbs/data.json
scripts/octo-ranking/player_id_ranks_open.json
scripts/octo-ranking/player_id_ranks_open.txt
scripts/octo-ranking/player_id_ranks_wcity.json
scripts/octo-ranking/player_id_ranks_wcity.txt
scripts/octo-ranking/player_id_ranks.json
scripts/octo-ranking/player_id_ranks.txt
scripts/ezlibs-scripts/announcements_feed.lua
logs.txt
assets/displayer/*
scripts/displayer/*
run.sh
players.txt
server.pid
watch.sh
watcher.log
watcher.pid
scripts/bbs/admin_pass_seed.lua
scripts/ezlibs-scripts/ezannounce*
